body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#quadro{
    width: 500px;
    height: 550px;
    box-shadow: 0 0 20px #000;
}

#block1{
    background-color: rgb(226, 182, 182);
    width: 100%;
    height: 76%;
    display: flex;
}

#block2{
    background-color: white;
    width: 20%;
}

#block3{
    background-color: rgb(176, 147, 209);
    height: 24%;
    display: flex;
}

#block4{
    background-color: rgb(234, 200, 160);
    float: right;
    width: 17%;
    border-left: 10px solid black;
}

#q1{
    display: inline-block;
}

#q1,#q2{
    width: 100%;
    height: 47.1%;
    background-color: white;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
}

#q3{
    float: right;
    width: 100%;
    height: 97.5%;
    background-color: rgb(255, 0, 0);
    border-left: 10px solid black;
    border-bottom: 10px solid black;
}

#q4{
    background-color: #0000ff;
    width: 22%;
    border-right: 10px solid black;
}

#q5{
    background-color: #ffffff;
    width: 441px;
}

#q6{
    background-color: #0000ff;
    width: 100%;
    height: 46.1%;
    border-bottom: 5px solid black;
}

#q7{
    background-color: #ffff00;
    width: 100%;
    height: 46.1%;
    border-top: 5px solid black;
}